.App {
  text-align: center;
  background-color: rgba(255, 173, 20,0.8);
  height: 300px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282C34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61DAFB;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cw{
  width: 60px;
  margin-top: 50px;
}
.card{
  width: 700px;
  margin:auto;
  margin-top: 30px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 20px gray;
}
.card-title-background{
  width: 100%;
  height: 120px;
  background-color: rgba(95, 80, 80,0.1);
  border-bottom: 0.5px solid gray;
}
.image{
  position: absolute;
  margin:auto;
  margin-left: -70px;
  border-radius: 100%;
  margin-top: -145px;
  border: 5px solid white;
  box-shadow: 5px 5px 20px gray;
}
.personal-info{
  margin-top: 60px;
  font-size: large;
  font-weight: 600;
  height: 80px;
}
.icons {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin:auto;
  margin-top: 40px;
}
.icons > acronym > img {
  width: 40px;
  border-radius: 100%;
  border: 2px solid white;
  box-shadow: 2px 2px 10px ;
  cursor: pointer;
  transition: transform .5s;
}
.icons > acronym > img:hover{
  transform: scale(1.3);
}
.buttons {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
button{
  height: 35px;
  width: 130px;
  background-color: purple;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 600;
}
button:hover{
  height: 35px;
  width: 130px;
  background-color: white;
  color: purple;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}
.list{
  text-align: center;
}
table{
  text-align: center;
  margin:auto;
  width: 90%;
  margin-top: 10px;
}
thead{
  background-color: orange;
}
thead th{
  color: purple;
  width: 19%;
  font-size: 1.1rem;
}
td{
  line-height: 1.5rem;
}
.loading{
  width: 80px;
}